//@theme "/usr/share/rofi/themes/sidebar-v2.rasi"
//@theme "/usr/share/rofi/themes/sidebar.rasi"
//@theme "/usr/share/rofi/themes/sidebar-v2.rasi"
//@theme "/usr/share/rofi/themes/dmenu.rasi"
//@theme "/usr/share/rofi/themes/sidebar.rasi"
//@theme "/usr/share/rofi/themes/nord-oneline.rasi"
@theme "/usr/share/rofi/themes/squared-everforest.rasi"
